<div class="left">
<h3>Ayuda</h3>
			<div class="left_box">
				<img src="../static/images/arroba.jpg" class="image" alt="Big Image" heigth="136" width="176"/>
				<h2>Para solicitar información</h2>
				<p>Dirección de email de contacto: einar[at]info.unlp.edu.ar</p>
			</div>

</div>
<div class="right">

</div>