   [% META title = 'ABM de Servidores' %]
    
    [%# Render the HTML::FormFu Form %]
<div class="renglon">
    <fieldset>
    <legend>Servidor</legend>
    [% form %]
    </fieldset>

    <p><a href="[% c.uri_for(c.controller.action_for('lista')) %]" title="Volver a la lista de Servidores"><img src="/static/images/arrow_left.png" alt="Volver" /></a></p>
</div>
